.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

#darth-vader {
    font-size: 2em;
}

#luke {
    font-style: italic;
}

.soldado {
    border: 3px dashed black; 
    letter-spacing: 2px;      
}
.apoyo {
    text-align: center;
}

.naves {
    text-transform: uppercase;
}
